<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="airportSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="airportSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/airport.asmx" binding="basicHttpBinding"
                bindingConfiguration="airportSoap" contract="AirportWebService.airportSoap"
                name="airportSoap" />
            <endpoint address="http://www.webservicex.net/airport.asmx" binding="customBinding"
                bindingConfiguration="airportSoap12" contract="AirportWebService.airportSoap"
                name="airportSoap12" />
        </client>
    </system.serviceModel>
</configuration>